#container {
	width: 730px;
	position: absolute;
	left: 50%;
}
#container2 {
	position: absolute;
	left: -50%;
}
#header {
	float: left;
	width: 710px;
	height: 200px;
	margin: 10px;
	background-color: grey;
}
#content {
	float: left;
	width: 500px;
	height: 400px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: grey;
}
#sidebar {
	float: left;
	width: 200px;
	height: 400px;
	margin-right: 10px;
	background-color: grey;
}
#footer {
	float: left;
	width: 710px;
	height: 200px;
	margin: 10px;
	background-color: grey;
}
.photo {
	background-image: url("http://lorempixel.com/200/200");
	width: 200;
	height: 200;
	margin: 10;
}
.caption {
	width: 200;
	height: 15;
	background-color: black;
	color: white;
	position: absolute;
	left: 20;
	top: 410;
}
#content div:hover {
	color: green;
}